.container-card {
  display: flex;
  margin-bottom: 1.5em;
  border-radius: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0.01em solid #ccc;
}
.content-card {
  padding: 1em;
}
.container-icon-name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.icon-info {
  width: 8%;
  cursor: pointer;
  @include for-size(desktop-only) {
    width: 4.5%;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  line-height: 1.5em;
}
h1 {
  margin-top: 0 !important;
}
.content-card ::first-letter {
  text-transform: uppercase;
}
.user-card {
  font-size: 2em;
  margin-bottom: 0.4em;
}
.title-card {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}
.body-card {
  font-size: 1em;
  word-spacing: 1px;
  margin-bottom: 0.5em;
}
.garbage-icon {
  width: 12%;
  cursor: pointer;
  @include for-size(desktop-only) {
    width: 6%;
  }
}
.containericon-btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
}
.btn {
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  @include for-size(desktop-only) {
    margin-top: 1em;
  }
}
.comments {
  margin-top: 0.8em;
  & h5 {
    margin-bottom: 0.1em;
  }
  & p {
    font-size: 0.8rem;
    margin-bottom: 1em;
  }
}
